@use "variables";

.card {
  padding: 1.2rem;
  width: 200px;
  height: auto;
  border: solid 2px variables.$background-color;
  border-radius: 5%;
  background-color: #6096ba;
  color: variables.$background-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;

  &__company {
    &--name {
      text-transform: uppercase;
      font-weight: 600;
    }
    &--position {
      font-weight: 500;
      font-style: italic;
      font-size: 1.4rem;
    }
  }

  &__date {
    font-size: 0.8rem;
    font-weight: 400;
  }

  &:hover {
    color: variables.$background-color;
    cursor: pointer;
    border: solid 4px #274c77;
    translate: 0 -5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
}
